.header{
    background-color: var(--color-second);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;   
}

.navigation{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    
}

.menu-itens{
    font-family: 'Fira code', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
}

.menu-itens button{
    font-family: 'Fira code', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
    padding: 18px 17px;
    background-color: var(--color-first);
    box-shadow: 5px 5px 0 #000;

    cursor: pointer;
}